html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


footer {
    background-color: #fff;
}

.section {
    text-align: left;
}

.section-box {
    background-color: rgba(256, 256, 256, 0.8);
    border-radius: 0.5em;
    box-shadow: 3px 3px #88888860;
    opacity: 1.0;
}

.section-box img {
    width: 100%;
    margin-bottom: 2em;
}

.bg-red {
    background-color: #8a1825;
}

.nav-link {
    color : #FFFFFF !important;
}

.nav-link .active {
    font-weight: bold;
}

.bg-pattern {
    position: absolute;

    min-width: 100%;
    min-height: 100%;
    margin-top: 0px;
    background-color: #ffefad;
    background-image: url("/img/background.png");
    background-position: center;
    background-repeat: repeat;
}

.activity-pane {
    position: relative;
    height: 400px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.full-screen {
    width: 100%;
    min-height: 100%;

    position: relative;
}

.activity-description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;

    padding: 1em;

    background-color: #8a1825;
    color: #FFFFFF;

    opacity: 0.80;
}

.logo-img {
    margin-top: 3em;
    width: 75%;
}

.partner {
    list-style: none;
}

.partner img {
    height: 75px;
    margin: 1em;
}


