{{- define "main" }}
<div id="main-content" class="container">

    <section class="section text-center">
        <img class="logo-img" src="/img/logo.png" alt="Carrousel op vrijdag 7 en zaterdag 8 augustus">
    </section>"

    <section class="section">
        <div class="row text-center center-block justify-content-center">
            <div class="pb-4 col-lg-6">
                <a href="/quiz/">
                    <div class="activity-pane" style="background-image: url('/img/quiz.jpg')">
                        <div class="activity-description">
                            <h3>Muzikale Quiz met live-band </h3>
                             <p>Vrijdag 7 Augustus 2020</p>
                         </div>
                   </div>
                </a>
            </div>
            <!--
            <div class="pb-4 col-lg-6">
                <a href="/concert">
                    <div class="activity-pane" style="background-image: url('/img/hans_mortelmans.jpg')">
                        <div class="activity-description">
                            <h3>Concert Hans Mortelmans en Groep </h3>
                            <p>Vrijdag 8 Augustus 2020</p>
                        </div>
                   </div>
               </a>
            </div>
            -->
        </div>
    </section>
    <section id="section" class="section">
        <div class="p-4 section-box">
            {{.Content}}
        </div>
    </section>
</div>
{{end}}
