{{- define "main" }}

{{- $sections := $.Site.GetPage "/sections" }}
<div id="background"></div>
<div id="main-content">
    {{ range $ind, $elem := (sort $sections.Resources ".Params.weight") }}
    <section id="section-{{ $ind }}" class="section">
        <div class="container section-box">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    {{ default "" $elem.Content }}
                </div>
            </div>
        </div>
    </section>
    {{ end }}
</div>

{{end}}