<!-- Footer -->
<footer class="">
    <div class="mt-4 container text-center">
        <div class="row text-left">
           <p class=""> Met dank aan </p>
      </div>
      <div class="text-center justify-content-md-center">
    <ul class="row justify-content-md-center">
        <li class="partner col col-lg-4">
           <img src="/img/logo/schilde.jpg">
        </li>
        <li class="partner col col-lg-4">
           <img src="/img/logo/syrinx.png" alt="Syrinx">
        </li>
        <li class="partner col col-lg-4">
           <img src="/img/logo/kroon.png" alt="Brouwerij De Kroon">
        </li>
        <li class="partner col col-lg-4">
           <img src="/img/logo/artevino.jpeg" alt="artevino">
        </li>
        <li class="partner col col-lg-4">
           <img src="/img/logo/cornet.jpg" alt="cornet">
        </li>
        </ul>
      </div>
      <div class="row text-right">
        <p class="col">&copy; Carrousel VZW 2020</p>
      </div>
  </div>
</footer>
