<!-- Footer -->
<footer class="">
    <div class="mt-4 container text-center">
        <div class="row text-left">
           <p class=""> Met dank aan </p>
      </div>
      <div class="text-center justify-content-md-center">
    <ul class="row justify-content-md-center">
        <li class="partner col col-lg-4">
          <a href="http://www.schilde.be">
            <img src="/img/logo/schilde.jpg">
          </a>
        </li>
       <li class="partner col col-lg-4">
         <a href="http://www.bierhandeldekroon.be">
           <img src="/img/logo/kroon.png" alt="Brouwerij De Kroon">
         </a>
        </li>
        <li class="partner col col-lg-4">
          <a href="http://www.artevino.be">
            <img src="/img/logo/artevino.jpeg" alt="artevino">
          </a>
        </li>
        <li class="partner col col-lg-4">
          <a href="http://www.palm.be">
           <img src="/img/logo/cornet.jpg" alt="cornet">
          </a>
        </li>
        <li class="partner col col-lg-4">
          <a href="http://www.publio.be">
            <img src="/img/logo/publio.png" alt="publio">
          </a>
        </li>
         <li class="partner col col-lg-4">
            <a href="http://www.kusters.org">
            <img src="/img/logo/kusters.jpg" alt="kusters">
           </a>
        </li>
        <li class="partner col col-lg-4">
          <a href="http://www.solution.be">
            <img src="/img/logo/solution.jpg" alt="solution">
          </a>
        </li>
         <li class="partner col col-lg-4">
           <a href="http://www.crelan.be">
            <img src="/img/logo/crelan.png" alt="crelan">
           </a>
        </li>
         <li class="partner col col-lg-4">
           <a href="http://www.winforlife.be">
          <img src="/img/logo/win_for_life.png" alt="Win For Life">
           </a>
        </li>
         <li class="partner col col-lg-4">
           <a href="http://www.dewaalverf.be">
          <img src="/img/logo/de_waal.png" alt="Win For Life">
           </a>
        </li>
         <li class="partner col col-lg-4">
           <a href="http://www.bodevanschoten.be">
          <img src="/img/logo/bode_van_schoten.jpeg" alt="Bode Van Schoten">
           </a>
        </li>
         <li class="partner col col-lg-4">
           <a href="http://www.pepsi.be">
          <img src="/img/logo/pepsi_logo.png" alt="Pepsi">
           </a>
        </li>





        </ul>
      </div>
      <div class="row text-right">
        <p class="col">&copy; Carrousel VZW 2021</p>
      </div>
  </div>
</footer>
